##  Lambdas with Higher Order Functions (filter(), map(), apply())

Instructions: Work through the following questions. You can use the slides and deepnote examples as a guide. 
Hatzlacha! When you are finished, please push your work to git and add ruchifeldman and estherdonnenbaum as a  collaborator.

In [59]:
#1 Write code to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
list(filter(lambda x: x % 2 == 0, my_list))

[4, 6, 8, 12]

In [60]:
#2 write code to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]
list(map(lambda x: x * 2, my_list))

[2, 10, 8, 12, 16, 22, 6, 24]

In [61]:
#3 write code to select numbers that are divisible by 3 from the list

my_list = [3, 42, 18, 26, 11,27, 14, 5,36]
list(filter(lambda x: x % 3 == 0, my_list))

[3, 42, 18, 27, 36]

In [62]:
#4 write code to count the length of the numbers in a list. Return a list of the lengths.

my_list = [123, 56, 2, 8695, 26]
list(map(lambda x: len(str(x)),my_list))

[3, 2, 1, 4, 2]

In [63]:
#5 write code to convert all words in the list to upper case

my_list = ['apple', 'orange', 'banana', 'pear', 'mango', 'kiwi']
list(map(lambda x: x.upper(), my_list))

['APPLE', 'ORANGE', 'BANANA', 'PEAR', 'MANGO', 'KIWI']

In [64]:
#6 Write code to filter words that contain the letter 'r' from the list, any case
my_list = ['pear', 'Ruchi', 'belt', 'chair', 'notes', 'date']
list(filter(lambda x: 'r' in x.lower(), my_list))

['pear', 'Ruchi', 'chair']

In [65]:
#run this cell and use this df to answer the following questions
import pandas as pd

df = pd.DataFrame(
    {"title": ["Nor The Moon", "Why it Didn't Happen", "Expelled", "Not As It Seemed", "Random DIY Crafts", "Senora"],
     "Author": ['C. Green', 'Simon James', 'W. Wright', 'Hellen Kay', 'R. Farno', 'Jacob Blau'],
     "Pages": [450, 120, 682, 210, 75, 302],
     "Publisher": ['PG', 'Feldheim', 'Menucha', 'Ladybird', 'DSB', 'PG']

    }
)

In [66]:
#7 Write code to multiply the number of pages by two
df['Multiplied Pages'] = df['Pages'].apply(lambda x: x * 2)

In [67]:
#8 Write code change authors names to lowercase
df['Author'] = df["Author"].apply(lambda x: x.lower())
df

                  title       Author  Pages Publisher  Multiplied Pages
0          Nor The Moon     c. green    450        PG               900
1  Why it Didn't Happen  simon james    120  Feldheim               240
2              Expelled    w. wright    682   Menucha              1364
3      Not As It Seemed   hellen kay    210  Ladybird               420
4     Random DIY Crafts     r. farno     75       DSB               150
5                Senora   jacob blau    302        PG               604

In [68]:
# CHALLENGE
#Write code to select only the rows where the 'title' is more that four words. Assign those rows to a new dataframe
new_df = df[df["title"].apply(lambda x: len(x.split()) >= 4)]
new_df

                  title       Author  Pages Publisher  Multiplied Pages
1  Why it Didn't Happen  simon james    120  Feldheim               240
3      Not As It Seemed   hellen kay    210  Ladybird               420