In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/The user/Documents/course/IntegralyticCourse/chanuka_bakery.csv')

In [3]:
df

        branch  donuts  bagels  chocolate_coins  rolls
0    sorotzkin      62      63               36    101
1   mem_gimmel      33      55               32     64
2       gedera      45      24               28     45
3  ezras_torah      80      74               47     92
4      shamgar      39      36               32     18

In [4]:
def total_baked_goods(bagels, rolls):
    total = bagels + rolls
    return total

In [5]:
ezras_torah_baked = total_baked_goods(df['bagels'][3],df['rolls'][3])
shamgar_baked = total_baked_goods(df['bagels'][4],df['rolls'][4])

In [6]:
total_baked = ezras_torah_baked + shamgar_baked
print(total_baked)

220

In [7]:
def how_many_sold(branch, donuts, bagels, chocolate_coins, rolls):
    total = donuts + bagels + chocolate_coins + rolls
    if total > 200:
        print(branch, 'sold more than 200.')
    else:
        print(branch, 'sold 200 or under.')

In [8]:
for index, branch in enumerate(df['branch']):
    how_many_sold(branch, df['donuts'][index], df['bagels'][index], df['chocolate_coins'][index], df['rolls'][index])

sorotzkin sold more than 200.
mem_gimmel sold 200 or under.
gedera sold 200 or under.
ezras_torah sold more than 200.
shamgar sold 200 or under.