In [2]:
import pymysql
conn = pymysql.connect(host='localhost', port=3306, user='root', password='Sf@323895474', db='sys')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('CREATE DATABASE IF NOT EXISTS testdb;')

1

In [5]:
cursor.execute('USE testdb;')

0

In [6]:
person_table = '''CREATE TABLE IF NOT EXISTS person
(person_id MEDIUMINT UNSIGNED, first_name VARCHAR(50), last_name VARCHAR(50), 
age TINYINT UNSIGNED, marital_status TINYINT(1), country VARCHAR(75), PRIMARY KEY(person_id));'''

In [7]:
cursor.execute(person_table)

0

In [8]:
cursor.execute('DESC person;')

6

In [9]:
cursor.fetchall()

(('person_id', 'mediumint unsigned', 'NO', 'PRI', None, ''),
 ('first_name', 'varchar(50)', 'YES', '', None, ''),
 ('last_name', 'varchar(50)', 'YES', '', None, ''),
 ('age', 'tinyint unsigned', 'YES', '', None, ''),
 ('marital_status', 'tinyint(1)', 'YES', '', None, ''),
 ('country', 'varchar(75)', 'YES', '', None, ''))

In [10]:
cursor.execute('USE school;')

0

In [14]:
students_table = '''CREATE TABLE IF NOT EXISTS students
(student_id MEDIUMINT UNSIGNED, first_name VARCHAR(50), last_name VARCHAR(50), 
address VARCHAR(150), state CHAR(2), date_of_birth DATE, 
phone_number BIGINT, gender ENUM('male', 'female' ), PRIMARY KEY(student_id));'''
cursor.execute(students_table)

0

In [15]:
cursor.execute('DESC students;')
cursor.fetchall()

(('student_id', 'mediumint unsigned', 'NO', 'PRI', None, ''),
 ('first_name', 'varchar(50)', 'YES', '', None, ''),
 ('last_name', 'varchar(50)', 'YES', '', None, ''),
 ('address', 'varchar(150)', 'YES', '', None, ''),
 ('state', 'char(2)', 'YES', '', None, ''),
 ('date_of_birth', 'date', 'YES', '', None, ''),
 ('phone_number', 'bigint', 'YES', '', None, ''),
 ('gender', "enum('male','female')", 'YES', '', None, ''))

In [16]:
cursor.execute('USE testdb')
cursor.execute('DROP TABLE person')

0

In [17]:
conn.close()