# Sakila Star Schema & ETL

# SETUP Using ipython-sql

- load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var using `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var using `$`

- Adding `"!"` at the beginning of a jupyter cell runs a command in a shell, i.e. we are not running python code but we are running the commmand-line utilities

In [1]:
#unhash if not installed program before
# !pip install ipython-sql
# %pip install PyMySQL

# STEP1 : Connect to the local database where Sakila is loaded (MySQL)

In [2]:
import pymysql
%load_ext sql

In [3]:
DB_ENDPOINT= 'localhost'
DB = 'sakila'
DB_USER= 'root'
DB_PASSWORD = 'Sf@323895474' #TO BE REPLACED WITH PERSONAL PASSWORD
DB_PORT = 3306

# mysql+pymysql://username:password@host:port/database
conn_string="mysql+pymysql://{}:{}@{}/{}" \
                    .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB)
# print(conn_string)

In [4]:
%sql $conn_string

Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

# STEP2 : Explore the  3NF Schema

## 2.1 How much? What data sizes are we looking at?

In [5]:
%%sql 
select count(*) from store;
select count(*) from rental;
select count(*) from payment;
select count(*) from customer;
select count(*) from address;
select count(*) from city;
select count(*) from country;
select count(*) from staff;
select count(*) from film;
select count(*) from inventory;
select count(*) from film_category;
select count(*) from category;
select count(*) from actor;
select count(*) from film_actor;
select count(*) from language;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

## 2.2 When? What time period are we talking about?

In [6]:
%%sql
SELECT MIN(create_date), MAX(last_update)
FROM customer;

## 2.3 Where? Where do events in this database occur? Are they proportional? (10 rows)

In [7]:
##COMPLETE CODE

# STEP3: Perform some simple data analysis

## 3.1 Insight 1:   Top Grossing Movies 
- Payments amounts are in table `payment`
- Movies are in table `film`
- They are not directly linked, `payment` refers to a `rental`, `rental` refers to an `inventory` item and `inventory` item refers to a `film`
- `payment` &rarr; `rental` &rarr; `inventory` &rarr; `film`

### 3.1.1 Films

In [8]:
%sql SELECT * FROM film LIMIT 5;

### 3.1.2 Payments

In [9]:
%sql SELECT * FROM payment LIMIT 5;

### 3.1.3 Inventory

In [10]:
%sql SELECT * FROM inventory LIMIT 5;

### 3.1.4 Get the movie of every payment with payment date and the customer reference (5 rows)

In [11]:
%%sql
SELECT p.payment_id, f.title, p.payment_date, p.customer_id
FROM film f
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON i.inventory_id = r.inventory_id
JOIN payment p
ON r.rental_id = p.rental_id
LIMIT 5;

### 3.1.5 sum movie rental revenue (top 10)

In [12]:
%%sql
SELECT f.title, SUM(p.amount) rental_revenue
FROM film f
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON i.inventory_id = r.inventory_id
JOIN payment p
ON r.rental_id = p.rental_id
GROUP BY f.title
ORDER BY rental_revenue DESC
LIMIT 10;

## 3.2 Insight 2:   Top grossing cities 
- Payments amounts are in table `payment`
- Cities are in table `cities`
- `payment` &rarr; `customer` &rarr; `address` &rarr; `city`

### 3.2.1 Get the city of each payment with customer & rental references (10 rows)

In [13]:
##COMPLETE CODE

### 3.2.2 Top grossing cities (10 rows)

In [14]:
##COMPLETE CODE

## 3.3 Insight 3 : Revenue of a movie by customer city and by month

### 3.3.1 Total revenue by month (10 rows)
#sql EXTRACT() gets a datepart from date column

In [15]:
##COMPLETE CODE

### 3.3.2 Each movie and amount, by customer, city and by month (10 rows)

In [16]:
##COMPLETE CODE

### 3.3.3 FINAL ANALYSIS: Sum of revenue of each movie by city and by month (10 rows)

In [17]:
##COMPLETE CODE

# STEP4 : Creating Facts & Dimensions Tables as Star diagram

In [18]:
##COMPLETE CODE

# STEP 5: Pipe the data from 3NF tables to Facts & Dimension Tables

In [19]:
##COMPLETE CODE

# STEP 6: Repeat the final computation (Each movie and sum of amount, by customer, city and by month) from the facts & dimension table

## 6.1 Facts Table has all the needed dimensions, no need for deep joins
Sample of facts table (5 rows)

In [20]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

## 6.2 Join fact table with dimensions tables to replace 'keys' with necessary attributes
Code for timing given - to time sample process!

In [21]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

## 6.3 With fact & dimensions tables compute the final analysis (Sum of revenue of each movie by city and by month)
Code for timing given - to time full process!

In [22]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

## 6.4 With Original database designed tables compute the final analysis (Sum of revenue of each movie by city and by month)
Code for timing given - to time full process!
Use code in above cell without the limitation on output rows

In [23]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

# Conclusion

Write 2 lines of your findings