# Sakila Star Schema & ETL

# SETUP Using ipython-sql

- load ipython-sql: `%load_ext sql`

- To execute SQL queries you write one of the following atop of your cell: 
    - `%sql`
        - For a one-liner SQL query
        - You can access a python var using `$`    
    - `%%sql`
        - For a multi-line SQL query
        - You can **NOT** access a python var using `$`

- Adding `"!"` at the beginning of a jupyter cell runs a command in a shell, i.e. we are not running python code but we are running the commmand-line utilities

In [1]:
#unhash if not installed program before
# !pip install ipython-sql
# %pip install PyMySQL

# STEP1 : Connect to the local database where Sakila is loaded (MySQL)

In [2]:
import pymysql
%load_ext sql

In [3]:
DB_ENDPOINT= 'localhost'
DB = 'sakila'
DB_USER= 'root'
DB_PASSWORD = 'Sf@323895474' #TO BE REPLACED WITH PERSONAL PASSWORD
DB_PORT = 3306

# mysql+pymysql://username:password@host:port/database
conn_string="mysql+pymysql://{}:{}@{}/{}" \
                    .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB)
# print(conn_string)

In [4]:
%sql $conn_string

Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

# STEP2 : Explore the  3NF Schema

## 2.1 How much? What data sizes are we looking at?

In [5]:
%%sql 
select count(*) from store;
select count(*) from rental;
select count(*) from payment;
select count(*) from customer;
select count(*) from address;
select count(*) from city;
select count(*) from country;
select count(*) from staff;
select count(*) from film;
select count(*) from inventory;
select count(*) from film_category;
select count(*) from category;
select count(*) from actor;
select count(*) from film_actor;
select count(*) from language;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

## 2.2 When? What time period are we talking about?

In [6]:
%%sql
SELECT MIN(rental_date), MAX(rental_date)
FROM rental;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

## 2.3 Where? Where do events in this database occur? Are they proportional? (10 rows)

In [7]:
%%sql
SELECT country, COUNT(rental_id) rentals
FROM country co
JOIN city ci
ON co.country_id = ci.country_id
JOIN address a
ON ci.city_id = a.city_id
JOIN customer c
ON c.address_id = a.address_id
JOIN rental r
ON c.customer_id = r.customer_id
GROUP BY country
ORDER BY rentals DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

# STEP3: Perform some simple data analysis

## 3.1 Insight 1:   Top Grossing Movies 
- Payments amounts are in table `payment`
- Movies are in table `film`
- They are not directly linked, `payment` refers to a `rental`, `rental` refers to an `inventory` item and `inventory` item refers to a `film`
- `payment` &rarr; `rental` &rarr; `inventory` &rarr; `film`

### 3.1.1 Films

In [8]:
%sql SELECT * FROM film LIMIT 5;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

### 3.1.2 Payments

In [9]:
%sql SELECT * FROM payment LIMIT 5;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

### 3.1.3 Inventory

In [10]:
%sql SELECT * FROM inventory LIMIT 5;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

### 3.1.4 Get the movie of every payment with payment date and the customer reference (5 rows)

In [11]:
%%sql
SELECT p.payment_id, f.title, p.payment_date, p.customer_id
FROM film f
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON i.inventory_id = r.inventory_id
JOIN payment p
ON r.rental_id = p.rental_id
LIMIT 5;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

### 3.1.5 sum movie rental revenue (top 10)

In [12]:
%%sql
SELECT f.title, SUM(p.amount) rental_revenue
FROM film f
JOIN inventory i
ON f.film_id = i.film_id
JOIN rental r
ON i.inventory_id = r.inventory_id
JOIN payment p
ON r.rental_id = p.rental_id
GROUP BY f.title
ORDER BY rental_revenue DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

## 3.2 Insight 2:   Top grossing cities 
- Payments amounts are in table `payment`
- Cities are in table `cities`
- `payment` &rarr; `customer` &rarr; `address` &rarr; `city`

### 3.2.1 Get the city of each payment with customer & rental references (10 rows)

In [13]:
%%sql
SELECT p.payment_id, ci.city, p.customer_id, p.rental_id
FROM payment p
JOIN customer c
ON p.customer_id = c.customer_id
JOIN address a
ON c.address_id = a.address_id
JOIN city ci
ON a.city_id = ci.city_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

### 3.2.2 Top grossing cities (10 rows)

In [14]:
%%sql
SELECT ci.city, SUM(p.amount) city_revenue
FROM payment p
JOIN customer c
ON p.customer_id = c.customer_id
JOIN address a
ON c.address_id = a.address_id
JOIN city ci
ON a.city_id = ci.city_id
GROUP BY ci.city
ORDER BY city_revenue DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

## 3.3 Insight 3 : Revenue of a movie by customer city and by month

### 3.3.1 Total revenue by month (10 rows)
#sql EXTRACT() gets a datepart from date column

In [15]:
%%sql 
SELECT EXTRACT(MONTH FROM payment_date) month, SUM(amount) month_revenue
FROM payment
GROUP BY month
ORDER BY month_revenue DESC;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

### 3.3.2 Each movie and amount, by customer, city and by month (10 rows)

In [16]:
%%sql
SELECT r.rental_id, EXTRACT(MONTH FROM r.rental_date) rental_month, f.title, p.amount, r.customer_id, ci.city
FROM rental r
JOIN payment p
ON r.rental_id = p.rental_id
JOIN customer c
ON r.customer_id = c.customer_id
JOIN address a
ON c.address_id = a.address_id
JOIN city ci
ON a.city_id = ci.city_id
JOIN inventory i
ON r.inventory_id = i.inventory_id
JOIN film f
ON i.film_id = f.film_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

### 3.3.3 FINAL ANALYSIS: Sum of revenue of each movie by city and by month (10 rows)

In [17]:
%%sql
SELECT f.title movie, EXTRACT(MONTH FROM r.rental_date) rental_month, ci.city , SUM(p.amount) revenue
FROM rental r
JOIN payment p
ON r.rental_id = p.rental_id
JOIN customer c
ON r.customer_id = c.customer_id
JOIN address a
ON c.address_id = a.address_id
JOIN city ci
ON a.city_id = ci.city_id
JOIN inventory i
ON r.inventory_id = i.inventory_id
JOIN film f
ON i.film_id = f.film_id
GROUP BY f.title, ci.city, rental_month
ORDER BY revenue DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

# STEP4 : Creating Facts & Dimensions Tables as Star diagram

In [18]:
%%sql
CREATE SCHEMA IF NOT EXISTS star_schema;  
  
CREATE TABLE IF NOT EXISTS star_schema.dimdate   
(date_key BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,  
date DATETIME NOT NULL,
year SMALLINT UNSIGNED NOT NULL,
quarter TINYINT UNSIGNED NOT NULL,
month TINYINT UNSIGNED NOT NULL,
day TINYINT UNSIGNED NOT NULL,
week TINYINT UNSIGNED NOT NULL,
is_weekend TINYINT UNSIGNED NOT NULL,
PRIMARY KEY(date_key)); 

CREATE TABLE IF NOT EXISTS star_schema.dimmovie   
(movie_key BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,  
film_id BIGINT UNSIGNED NOT NULL,
title VARCHAR(150) NOT NULL,
description VARCHAR(400) NOT NULL,
release_year SMALLINT UNSIGNED NOT NULL,
language VARCHAR(50) NOT NULL,
original_language VARCHAR(50),
rental_duration MEDIUMINT UNSIGNED NOT NULL,
length MEDIUMINT UNSIGNED NOT NULL,
rating VARCHAR(50),
special_features VARCHAR(200),
PRIMARY KEY(movie_key)); 

CREATE TABLE IF NOT EXISTS star_schema.dimstore   
(store_key BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,  
store_id BIGINT UNSIGNED NOT NULL,
address VARCHAR(150) NOT NULL,
address2 VARCHAR(150),
district VARCHAR(75) NOT NULL,
city VARCHAR(75) NOT NULL,
country VARCHAR(75) NOT NULL,
postal_code VARCHAR(15) NOT NULL,
manager_first_name VARCHAR(50) NOT NULL,
manager_last_name VARCHAR(50) NOT NULL,
start_date DATETIME NOT NULL,
end_date DATETIME,
PRIMARY KEY(store_key)); 

CREATE TABLE IF NOT EXISTS star_schema.dimcustomer   
(customer_key BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,  
customer_id BIGINT UNSIGNED NOT NULL,
first_name VARCHAR(50) NOT NULL,
last_name VARCHAR(50),
email VARCHAR(50) NOT NULL,
address VARCHAR(150) NOT NULL,
address2 VARCHAR(150),
district VARCHAR(75) NOT NULL,
city VARCHAR(75) NOT NULL,
country VARCHAR(75) NOT NULL,
postal_code VARCHAR(15) NOT NULL,
phone VARCHAR(20) NOT NULL,
active TINYINT NOT NULL,
create_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
start_date DATETIME NOT NULL,
end_date DATETIME,
PRIMARY KEY(customer_key)); 

CREATE TABLE IF NOT EXISTS star_schema.factsales   
(sales_key BIGINT UNSIGNED NOT NULL AUTO_INCREMENT,  
date_key BIGINT UNSIGNED NOT NULL,
customer_key BIGINT UNSIGNED NOT NULL,
movie_key BIGINT UNSIGNED NOT NULL,
store_key BIGINT UNSIGNED NOT NULL,
sales_amount DECIMAL(12,2) NOT NULL,
PRIMARY KEY(sales_key),
FOREIGN KEY(date_key) REFERENCES star_schema.dimdate(date_key),
FOREIGN KEY(customer_key) REFERENCES star_schema.dimcustomer(customer_key),
FOREIGN KEY(movie_key) REFERENCES star_schema.dimmovie(movie_key),
FOREIGN KEY(store_key) REFERENCES star_schema.dimstore(store_key));

# STEP 5: Pipe the data from 3NF tables to Facts & Dimension Tables

In [24]:
%%sql
INSERT INTO star_schema.dimdate(
date, year, quarter, month, day, week, is_weekend) 
SELECT rental_date, 
       YEAR(rental_date) year, 
       QUARTER(rental_date) quarter,
       MONTH(rental_date) month,
       DAYNAME(rental_date) day,
       WEEK(rental_date) week,
       CASE WHEN WEEKDAY(rental_date) > 5 OR WEEKDAY(rental_date) < 2 THEN 1 ELSE 0 END is_weekend 
FROM rental;


INSERT INTO star_schema.dimmovie(
film_id, title, description, release_year, language, original_language, rental_duration, length, rating, special_features) 
SELECT f.film_id, 
       f.title, 
       f.description, 
       f.release_year,
       l.name,
       ol.name,
       rental_duration,
       length,
       rating,
       special_features
FROM film f
JOIN language l
ON f.language_id = l.language_id 
LEFT JOIN language ol
ON f.original_language_id = l.language_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
ORDER BY film_id;


INSERT INTO star_schema.dimstore(
store_id, address, address2, district, city, country, postal_code, manager_first_name, manager_last_name, start_date, end_date) 
WITH rental_date AS(
    SELECT s.store_id, MIN(r.rental_date) start_date, MAX(r.rental_date) end_date
    FROM rental r
    JOIN staff st 
    ON r.staff_id = st.staff_id
    JOIN store s 
    ON st.store_id = s.store_id
    GROUP BY s.store_id
)
SELECT s.store_id,
       a.address,
       a.address2,
       a.district,
       ci.city,
       co.country,
       a.postal_code,
       st.first_name,
       st.last_name,
       rd.start_date,
       rd.end_date
FROM store s
JOIN address a
ON s.address_id = a.address_id 
JOIN city ci
ON a.city_id = ci.city_id
JOIN country co 
ON ci.country_id = co.country_id 
JOIN staff st 
ON s.manager_staff_id = st.staff_id 
JOIN rental_date rd  
ON s.store_id = rd.store_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
ORDER BY s.store_id;

INSERT INTO star_schema.dimcustomer(
customer_id, first_name, last_name, email, address, address2, district, city, country, postal_code, phone, active, create_date, start_date, end_date) 
WITH rental_date AS(
    SELECT customer_id, MIN(rental_date) start_date, MAX(rental_date) end_date
    FROM rental
    GROUP BY customer_id
)
SELECT c.customer_id,
       c.first_name,
       c.last_name,
       c.email,
       a.address,
       a.address2,
       a.district,
       ci.city,
       co.country,
       a.postal_code,
       a.phone,
       c.active,
       c.create_date,
       rd.start_date,
       rd.end_date
FROM customer c
JOIN address a
ON c.address_id = a.address_id 
JOIN city ci
ON a.city_id = ci.city_id
JOIN country co 
ON ci.country_id = co.country_id  
JOIN rental_date rd  
ON c.customer_id = rd.customer_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
ORDER BY c.customer_id;

INSERT INTO star_schema.factsales(
date_key, customer_key, movie_key, store_key, sales_amount) 
SELECT dd.date_key
       YEAR(rental_date) year, 
       QUARTER(rental_date) quarter,
       MONTH(rental_date) month,
       DAYNAME(rental_date) day,
       WEEK(rental_date) week,
       CASE WHEN WEEKDAY(rental_date) > 5 OR WEEKDAY(rental_date) < 2 THEN 1 ELSE 0 END is_weekend 
FROM star_schema.dimdate dd;

 * mysql+pymysql://root:***@localhost/sakila
Traceback (most recent call last):
  File "C:\Users\The user\AppData\Roaming\Python\Python39\site-packages\sql\magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost/sakila'])

# STEP 6: Repeat the final computation (Each movie and sum of amount, by customer, city and by month) from the facts & dimension table

## 6.1 Facts Table has all the needed dimensions, no need for deep joins
Sample of facts table (5 rows)

In [20]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

## 6.2 Join fact table with dimensions tables to replace 'keys' with necessary attributes
Code for timing given - to time sample process!

In [21]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

## 6.3 With fact & dimensions tables compute the final analysis (Sum of revenue of each movie by city and by month)
Code for timing given - to time full process!

In [22]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

## 6.4 With Original database designed tables compute the final analysis (Sum of revenue of each movie by city and by month)
Code for timing given - to time full process!
Use code in above cell without the limitation on output rows

In [23]:
%%time
##COMPLETE CODE

CPU times: total: 0 ns
Wall time: 0 ns

# Conclusion

Write 2 lines of your findings